$primary-color-1st: hsl(215, 51%, 70%);
$primary-color-2nd: hsl(178, 100%, 50%);

$color-main-bg: hsl(217, 54%, 11%);
$color-card-bg: hsl(216, 50%, 16%);
$color-line: hsl(215, 32%, 27%);

$color-white: hsl(0, 0%, 100%);
